[user]
    name = Viktor Leite
    email = viktorleite.s@gmail.com

[core]
    editor = nano
    autocrlf = input

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    type = cat-file -t
    dump = cat-file -p
    lg = log --graph --pretty=format:\"%C(yellow)%h%Creset | %C(green)<%an%>Creset | %C(blue)%ad%Creset | %s\" --date=relative --abbrev-commit
    checkout-merge = "!f() { git checkout $1 && git merge $2; git status; }; f"

[credential]
    helper = cache --timeout=3600

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[color]
    ui = true
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red
    untracked = cyan
    
[github]
user = viktorleite
